* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
  /*alterei de 150vh pra cima e não vi diferença*/
  height: 150vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 48px;

  position: fixed;
  width: 100%;
  background-color: #000000;
}

button {
  padding: 16px 24px;
  border-radius: 40px 10px;
  border: 1px solid rgb(73, 157, 235);
  background-color: rgb(73, 157, 235);
  color: rgb(0, 0, 0);

  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}

#form-habits {
  display: flex;

  padding: 182px 48px 48px;
  width: fit-content;
}

.habits {
  margin-top: 60px;
  display: flex;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.habit {
  width: 44px;
  height: 44px;

  font-size: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div {
  margin-bottom: 8px;

  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;

  color: rgb(73, 157, 235);

  text-align: center;
}
input {
  -webkit-appearance: none;
  appearance: none;

  width: 44px;
  height: 44px;

  border: 2px solid rgb(73, 157, 235);
  border-radius: 40px 10px;
  background: #050505c5;
}

/*pseudo-selector*/
input:checked {
  background: rgb(73, 157, 235);
  border: 2px solid #030303;
}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}
